@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Anek+Gujarati');
#content {
    max-width:1600px;
    margin: 0 auto;
}
body {
    background-color: #1E212B;
    font-family: "Anek Gujarati", Helvetica, sans-serif;
    font-size: 30px;
    color: #B3001B;
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(27, 17, 17, .7);
    display: grid;
    grid-template-columns: 150px auto;
}
header img {
    grid-column: 1/2;
    height: 100px;
    width: auto;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #FCB9B2;
    text-decoration: none;
    padding: 35px;
    font-size: 40px;
}
nav a:hover {
    background-color: #1E212B;
    color: #B3001B;
}
#introdm{
    text-align:center;
    margin-bottom: 100px;
}
#introdm h1 {
    font-size: 70px;
    font-family: "Fredericka the Great", fantasy;
}
#introdm p {
    width:800px;
    margin:auto;
}
img {
    max-width:1600px;
}
#worldbuilding {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    text-align: center;
}
#world-img {
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: -1;
    width: 700px;
}
#worldbuilding h1 {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    margin-top: 150px;
    font-family: "Fredericka the Great", fantasy;
    font-size: 70px;
}
#worldbuilding p {
    grid-column: 1/4;
    grid-row: 2/3;
    margin: 100px 100px 0px 100px;
}
#worldbuilding ul {
    grid-column: 1/4;
}

#addingtoworld {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 100px, 1fr;
}
#addition-box {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-right: 50px;
}
#world-addition-img {
    width: 800px;
    float:left;
}
#addingtoworld h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    font-family: "Fredericka the Great", fantasy;
    font-size: 70px;
}
#addingtoworld p {
    grid-column: 2/4;
    grid-row: 1/3;
    margin-top: 70px;
}

#working-with-players {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 100px, 1fr;
    margin-bottom: 50px;
}
#working-box {
    grid-column: 3/4;
    grid-row: 2/3;
    margin-left: 50px;
}
#working-img {
    width: 800px;
    float:left;
}
#working-with-players h1 {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
    font-family: "Fredericka the Great", fantasy;
    font-size: 70px;
}
#working-with-players p {
    grid-column: 1/3;
    grid-row: 1/3;
    margin-top: 70px;
    text-align:right;
}
footer {
    height: 100px;
    background-color: rgba(27, 17, 17, .7);
}