@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Anek+Gujarati');
#content {
    max-width:1600px;
    margin: 0 auto;
}
body {
    background-color: #1E212B;
    font-family: "Anek Gujarati", Helvetica, sans-serif;
    font-size: 30px;
    color: #B3001B;
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(27, 17, 17, .7);
    display: grid;
    grid-template-columns: 150px auto;
}
header img {
    grid-column: 1/2;
    height: 100px;
    width: auto;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #FCB9B2;
    text-decoration: none;
    padding: 35px;
    font-size: 40px;
}
nav a:hover {
    background-color: #1E212B;
    color: #B3001B;
}
a {
    color: #FCB9B2;
}
a:hover {
    color: white;
}
#introplayer{
    text-align:center;
    margin-bottom: 100px;
}
#introplayer h1 {
    font-size: 90px;
    font-family: "Fredericka the Great", fantasy;
}
#introplayer p {
    width:800px;
    margin:auto;
}
#charactercreation {
    margin-bottom: 100px;
}
#charactersheet {
    float:left;
    margin-right: 50px;
}
#charactercreation p{
    font-size: 15px;
}
#gameplay-img {
    width:600px;
    float:left;
    margin-right: 50px;
}
#how-to-play {
    margin-bottom: 100px;
}
#interaction-world {
    margin-bottom: 100px;
}
#interacting-world {
    width: 600px;
    float: right;
    margin-left: 50px;
}
#interaction-world p {
    text-align: right;
    font-size: 45px;
}
#interaction-others {
    margin-bottom: 100px;
}
#interacting-others {
    width: 760px;
    float: right;
    margin-left: 50px;
}
#interaction-others p {
    text-align: right;
    font-size: 41px;
}
footer {
    height: 100px;
    background-color: rgba(27, 17, 17, .7);
}